.teacher{
    text-align: center;
}

.teacher img {
    width: 100%;
    height: 350px;
    border-radius: 50px;
    position: relative;
}

.teacher h5{
    color: #423F8D;
    padding: 20px 0 7px 0;
    margin-bottom: 0;
    font-family: 'DM Sans', sans-serif;
}

.teacher p{
    padding-bottom: 20px;
    font-family: 'DM Sans', sans-serif;
}
.teacher .overlay{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #E17074;
    border-radius: 50px;
}

.overlay img{
    opacity: 1;
    transition: .4s;
}

.teacher:hover img{
    opacity: .5;
    /* background-color: #E17074; */
}

.icon{
    margin-top: -24px;
    transition: .4s ease;
}

.icon ul{
    display: flex !important;
    justify-content: center;
    padding-left: 0;
}

.icon li{
    list-style: none;
}

.icon a{
    padding: 0 20px;
    color: #fff;
}

.icon a:hover{
    color: #12D9DF;
    transition: .4s ease;
}

.teacher:hover .icon{
    color: #fff;
    transform: translateY(-150%);
}