.teachers{
    text-align: center;
}

.teachers h1{
    color: #423f8d;
    padding-top: 100px;
    padding-bottom: 10px;
    font-family: 'Fredoka One', cursive;
}

.details{
    width: 40%;
    margin: auto;
    font-size: 18px;
    line-height: 35px;
    color: #423f8d;
    font-weight: 500;
    font-family: 'DM Sans', sans-serif;
}