.timer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.days{
    padding: 5px 20px;
    margin-right: 20px;
    background-color: #FFFAE7;
    border-radius: 15px;
    color: #423F8D;
}

.days p:first-child {
    font-size: 28px;
    font-family: 'Concert One', cursive;
}

.days p:nth-child(2) {
    font-family: 'DM Sans', sans-serif;
}

.hours{
    padding: 5px 20px;
    margin-right: 20px;
    background-color: #FFFAE7;
    border-radius: 15px;
    color: #423F8D;
}

.hours p:first-child {
    font-size: 28px;
    font-family: 'Concert One', cursive;
}

.hours p:nth-child(2) {
    font-family: 'DM Sans', sans-serif;
}

.minutes{
    padding: 5px 20px;
    margin-right: 20px;
    background-color: #FFFAE7;
    border-radius: 15px;
    color: #423F8D;
}

.minutes p:first-child {
    font-size: 28px;
    font-family: 'Concert One', cursive;
}

.minutes p:nth-child(2) {
    font-family: 'DM Sans', sans-serif;
}

.seconds{
    padding: 5px 15px;
    background-color: #FFFAE7;
    border-radius: 15px;
    color: #423F8D;
}

.seconds p:first-child {
    font-size: 28px;
    font-family: 'Concert One', cursive;
}

.seconds p:nth-child(2) {
    font-family: 'DM Sans', sans-serif;
}