.nav li {
  padding: 0 10px;
}


.nav a {
  color: #423f8d !important;
  font-weight: bold;
  font-size: 17px;
  padding: 30px 0;
  font-family: 'Concert One', cursive;
}

.nav li a:hover {
  color: #ed078b !important;
}

.nav ul>li a::after{
    content: "";
    position: absolute;
    width: 0;
    bottom: 0px;
    right: 5px;
    left: -5px;
    height: 3px;
    z-index: 1;
    background: #ED078B;
    transition: .4s;
}

.enroll {
  border: none;
  background: #12d9df;
  padding: 13px 40px;
  border-radius: 25px;
  color: #fff;
  font-weight: bold;
  font-family: 'Concert One', cursive;
}

.enroll:hover{
  color: #ecf0f1;
}
