.address-bar p{
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}

.address-bar {
    line-height: 50px;
    background-color: #ED078B;
    color: #fff;
    font-size: 18px;
}

.address-bar a{
    text-decoration: none;
    color: #fff;
    padding: 13px 10px;
}

.address-bar a:hover .icon{
    transform: scaleX(-1);
    transition: .5s ease-in-out;
}